@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsServicioModel
@{
    var servicio = Model.Servicio;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @servicio.id</li>
  <li class="list-group-item"> <b>origen: </b> @servicio.origen</li>
  <li class="list-group-item"> <b>destino: </b> @servicio.destino</li>
  <li class="list-group-item"><b>fecha: </b> @servicio.fecha</li>
  <li class="list-group-item"><b>hora: </b> @servicio.hora</li>
   <li class="list-group-item"><b>encomienda: </b> @servicio.encomienda</li>
</ul>  